.footer {
    /* height: 5vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #232f3e;
    width: 100%;
    color: #fff;
    margin-top: 2rem;
}
.footer__logo {
    padding: 18px 0 11px 0;
}
.footer__logo--pic {
    width: 4.5rem;
    object-fit: contain;
}
.footer__rights span{
    text-transform: uppercase;
    font-weight: 600;
}